---
title: LAB132 - Articles
layout: main.njk
---

<section id="main" class="flex flex-col relative py-32" style="background-color: #FFD203 !important;  width: 100%;">
    <div class="opacity-50 w-full h-full absolute top-0 bottom-0"  style="background: url('/assets/Header_Image.webp') center center / cover no-repeat;">
    </div>
    <h1 class="text-7xl p-8 w-full text-primary text-center">{{ title }}</h1>
    <strong class="text-lg text-center text-primary opacity-80 italic pl-2 font-bold">{{ date|date() }}</strong></span>
</section>
<div id="content" class="flex flex justify-center w-full">
    <div class="blog flex max-w-5xl">
      <article class="bg-primary w-full p-8 rounded-xl">
        {{ content | safe }}
      </article>
    </div>
  </div>
</div>