---
title: LAB132 - IUT de Troyes
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <link rel="stylesheet" href="/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&display=swap" rel="stylesheet">
    <link rel="prefetch" href="/assets/creality.webm">
    <link rel="prefetch" href="/assets/cricut.webm">
    <link rel="prefetch" href="/assets/xtool.webm">
    <link rel="prefetch" href="/assets/embroidery.webm">
</head>
<body>
    <nav class="w-full flex p-4 justify-around bg-primary">
        <a class="hidden md:block w-40" href="/">
            <img class="mt-4" src="/assets/logo_lab132_wide.svg" alt="Logo Lab 132">
        </a>
        <a href="/#inscription">
            <div class="p-4 text-lg md:text-2xl margarine-regular">Inscription</div>
        </a>
        <a href="/#matos">
            <div class="p-4 text-lg md:text-2xl margarine-regular">Matos</div>
        </a>
        <a href="/blog">
            <div class="p-4 text-lg md:text-2xl margarine-regular">Articles</div>
        </a>
        <a href="/#contact">
            <div class="p-4 text-lg md:text-2xl margarine-regular">Contact</div>
        </a>
    </nav>
    {{ content | safe }}
    <footer class="grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 py-8 px-16">
        <div class="flex flex-col justify-center items-center">
            <img class="w-40 mt-4 mb-2" src="/assets/logo_lab132_wide.svg" alt="Logo Lab 132">
            <div class="flex flex-row justify-center items-center">
                <a class="p-2" href="">
                    <img class="w-8" src="/assets/logo_instagram.svg" alt="logo Instagram">
                </a>
                <a class="p-2" href="">
                    <img class="w-8" src="/assets/logo_pinterest.svg" alt="logo Pinterest">
                </a>
                <a class="p-2" href="">
                    <img class="w-8" src="/assets/logo_youtube.svg" alt="logo Youtube">
                </a>
            </div>
        </div>
        <div class="flex flex-row justify-start items-center">
            <a href="/reglement-interieur" class="text-sm">⬒ Règlement intérieur</a>
        </div>
        <div class="flex flex-col justify-center">
            <p>IUT Troyes</p>
            <p>9 rue de Québec</p>
            <p>CS 90396</p>
            <p>10026 Troyes Cedex</p>
            <p>@iut.fr</p>
        </div>
        <div class="flex flex-col justify-center">
            <a href="https://www.univ-reims.fr/iut-troyes/" target="_blank"><img src="/assets/logo_iut_troyes_b.webp" class="p-2 w-32" style="filter: invert(1);" alt="Logo IUT de Troyes"></a>
            <p class="text-xs p-2">&copy; 2025 - 2026 | IUT de Troyes</p>
            <a href="https://github.com/XariusExcl/lab132-frontv2" target="_blank" class="text-xs p-2 underline">Code source</p>
        </div>
    </footer>
    <script src="/main.js"></script> 
</body>
</html>